  <div class="center jumbotron">
    <% provide(:title, "Home") %>
    <h1>BLOG APP</h1>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Sign in!", new_user_session_path, class: "btn btn-lg btn-primary" %>
  </div>